{#
    This is an example twig HTML template. In order to avoid loading large lists of metadata into memory
    the TwigFormatter is designed to stream each row out as it processed. To take advantage of this you have
    to split your template into blocks (header, row, footer).
    Variables:
    headers: Array of metadata header titles
    row: Array of current metadata entries (Accessible only within row block)
#}

{% block header %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>Exif Gps Reader Results</title>
    </head>
    <body>
        <table style="width:100%">
            <tr>
                {% for header in headers %}<th>{{header}}</th>{% endfor %}

            </tr>

        {% endblock %}

        {% block row %}

            <tr>
                {% for col in row %}<td>{{col}}</td>{% endfor %}

            </tr>

        {% endblock %}

        {% block footer %}

        </table>
    </body>
</html>
{% endblock %}
