{% block header %}Headers: {% for header in headers %}{{header}},{% endfor %}{% endblock %}
{% block row %}Row: {% for col in row %}{{col}},{% endfor %}{% endblock %}
{% block footer %}Footer{% endblock %}
